<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("療癒之森", "Page", "Member", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主頁", "HomePage", "Artical")</li>
                    <li>@Html.ActionLink("登入", "login", "Member")</li>
                    <li>@Html.ActionLink("會員資料", "member_info", "Member")</li>
                    <li>@Html.ActionLink("專家申請", "Apply_expert", "Member")</li>
                    <li>@Html.ActionLink("每日簽到", "Check_in", "Member")</li>
                    <li>@Html.ActionLink("發布文章", "PostArticle", "Member")</li>
                    <li>@Html.ActionLink("文章詳情", "Artical_detail", "Artical")</li>
                    <li>@Html.ActionLink("聊天室", "Message", "Member")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - pu.edu.tw</p>
        </footer>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap?version=3")
    @RenderSection("scripts", required: false)
</body>


    

</html>

