@model Platform.Models.Member
@{
    ViewBag.Title = "Login";
}
<style>
    body {
        background-color: #A4DA8A;
    }

    .title{
        width:100%;
        font-size:45px;
        text-align:center;
        color:white;
        margin:50px auto auto auto;
    }

    .window_content {
        position: relative;
        width: 500px;
        height: 445px;
        margin:auto;
        top: 20px;
        border-radius: 5px;
        background-color: #ffffff;
    }

    .container-footer{
        column-count: 2 ;
        margin: 30px auto auto auto;
    }

    .container-footer .footer-left{
        margin-left:50%;
    }

    .container-footer .footer-right{
        margin-left: 25%;
     }


    @@media screen and (max-width:769px) {
        .window_content {
            position: relative;
            width: 100%;
            height: 445px;
            margin:auto;
            top: 20px;
            border-radius: 5px;
            background-color: #ffffff;
        }
    }

</style>


<div class="title">療癒之森</div>


<div class="container">
    <div class="window_content">
        <div class="window_content_body">
            @using (Html.BeginForm())
            {

                <div class="form-group">

                    <div class="" style="background-color:#ffffff;">
                        <div style=" padding-bottom:10px; padding-top:20px; text-align:center; font-size:30px; ">登入</div>


                        <div style="position: relative; display: table; margin: 15px auto auto auto; width: 250px;">
                            @Html.TextBoxFor(model => model.Name, new { @placeholder = "請輸入暱稱", @class = "form-control", @style = "background-color:#F2ECE2;", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div style="position: relative; display: table; margin: 15px auto auto auto; width: 250px;">
                            @Html.PasswordFor(model => model.Password, new { @placeholder = "請輸入密碼", @class = "form-control", @style = "background-color:#F2ECE2;", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="text-right" style="position: relative; display: table; margin: 15px auto auto auto; width: 250px;">
                            @Html.CheckBoxFor(model => model.rememberPassword)
                            @Html.Label("記住密碼")
                        </div>
                        <div style="position: relative; display: table; margin: 15px auto auto auto; width: 250px;">
                            <input type="submit" value="登入" class="btn btn-default  form-control" , style="background-color:#97CD7D;" />
                        </div>


                        <div class="container-footer">
                            <div class="footer-left">
                                @Html.ActionLink("註冊帳號", "Sign", null, null)
                                </div>
                            <div class="footer-right">
                                @Html.ActionLink("忘記密碼", "forget_password", null, null)
                            </div>

                    </div>
    

                    </div>
                </div>
            }
            </div>
</div>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}